services:
  ########################
  ## Caddy (Web Server) ##
  ########################

  # This is the ONLY service exposed to the internet / outside Docker network.
  # Caddy will talk to the backend and frontend services internally.
  caddy:
    build:
      context: ..
      dockerfile: deployment/caddy/Dockerfile.caddy
      args:
        - VITE_GOOGLE_MAPS_API=${VITE_GOOGLE_MAPS_API}
        - VITE_API_BASE_URL=${VITE_API_BASE_URL:-}
    restart: unless-stopped
    ports:
      - '${HTTP_PORT}:80'
      - '${HTTPS_PORT}:443'
    environment:
      - HTTPS_PORT=${HTTPS_PORT}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - grit-net
        # Healthcheck: Verify Caddy is serving traffic on port 80
    healthcheck:
      # like 'curl' (but lighter weight, 'wget' also comes with Alpine)
      # returns an exit code of 0 on success -> healthy
      # --spider: Checks if the URL exists without downloading the file.
      # 2019: Caddy's internal Admin API port.
      # /metrics: A specific endpoint that Caddy always keeps open to report its "heartbeat" and health data.
      test:
        ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://127.0.0.1:2019/metrics']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  ##############
  ## BACKEND  ##
  ##############

  backend:
    build:
      context: ..
      dockerfile: deployment/backend/Dockerfile.backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - VITE_API_BASE_URL=${VITE_API_BASE_URL:-}
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=postgres-db
      - MINIO_USER=${MINIO_USER}
      - MINIO_PASSWORD=${MINIO_PASSWORD}
      - MINIO_HOST=minio
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASS=${MAIL_PASS}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - HTTP_PORT=${HTTP_PORT}
      - HTTPS_PORT=${HTTPS_PORT}
    depends_on:
      postgres-db:
        condition: service_healthy
      minio:
        condition: service_healthy
    networks:
      - grit-net
    healthcheck:
      # localhost:3000/api: Checks if Swagger UI is reachable.
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://127.0.0.1:3000/api']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s # Give NestJS some time to boot/connect to DB before checking

  ############################
  ## POSTGRES DB: Text data ##
  ############################

  postgres-db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '127.0.0.1:${DB_PORT}:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - grit-net
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 5s
      retries: 5

  ##################################
  ## MINIO: S3 Storage for images ##
  ##################################

  minio:
    image: minio/minio
    restart: unless-stopped
    ports:
      - '127.0.0.1:${MINIO_PORT}:9000' # API port  code uses this)
      - '127.0.0.1:${MINIO_DASHBOARD_PORT}:9001' # Dashboard port (in browser for user)
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    volumes:
      - s3_data:/data
    networks:
      - grit-net
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      interval: 10s
      timeout: 5s
      retries: 5

#############
## Volumes ##
#############

volumes:
  caddy_data: # Storage for Caddy's SSL/TLS certificates
  caddy_config: # Storage for Caddy's configuration
  db_data: # Postgres data: text
  s3_data: # Minio data: images

##############
## Networks ##
##############

networks:
  grit-net:
    driver: bridge
