services:
  ########################################
  ## Caddy (Web Server / Reverse Proxy) ##
  ########################################

  # This is the ONLY service exposed to the internet / outside Docker network.
  # Caddy will talk to the backend and frontend services internally.
  caddy:
    build:
      context: ${PROJECT_CONTEXT}
      dockerfile: ${CADDY_REL_PATH}/Dockerfile.caddy
      args:
        CADDY_REL_PATH: ${CADDY_REL_PATH}
    restart: unless-stopped
    ports:
      - '${HTTP_PORT}:80'
      - '${HTTPS_PORT}:8443'
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - user-service
    networks:
      - app_network

  ###########################
  ## BACKEND MICROSERVICES ##
  ###########################

  # User Service (storing user information: email, username, pw, etc.)
  user-service:
    build:
      context: ${PROJECT_CONTEXT}
      dockerfile: ${USER_SERVICE_REL_PATH}/Dockerfile.user-service
    restart: unless-stopped
    environment:
      PORT: 3000
    volumes:
      - user_database:${USER_SERVICE_DB_DIR}
    networks:
      - app_network

#############
## Volumes ##
#############

volumes:
  caddy_data: # Storage for Caddy's SSL/TLS certificates
  caddy_config: # Storage for Caddy's configuration
  user_database: # Storage for user info (SQLite database)

##############
## Networks ##
##############

networks:
  app_network:
    driver: bridge
