services:
  ########################################
  ## Caddy (Web Server / Reverse Proxy) ##
  ########################################

  # This is the ONLY service exposed to the internet / outside Docker network.
  # Caddy will talk to the backend and frontend services internally.
  caddy:
    build:
      context: ${PROJECT_CONTEXT}
      dockerfile: ${CADDY_REL_PATH}/Dockerfile.caddy
      args:
        CADDY_REL_PATH: ${CADDY_REL_PATH}
    restart: unless-stopped
    ports:
      - '${HTTP_PORT}:80'
      - '${HTTPS_PORT}:8443'
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    # Healthcheck: Verify Caddy is serving traffic on port 80
    healthcheck:
      # like 'curl' (but lighter weight, 'wget' also comes with Alpine)
      # returns an exit code of 0 on success -> healthy
      # local self-signed certificates only for 'localhost' (not '127.0.0.1')
      # As Caddy listens to all available interfaces, 'localhost' works here.docker
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:80']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    depends_on:
      user-service:
        condition: service_healthy
    networks:
      - app_network

  ###########################
  ## BACKEND MICROSERVICES ##
  ###########################

  # User Service (storing user information: email, username, pw, etc.)
  user-service:
    build:
      context: ${PROJECT_CONTEXT}
      dockerfile: ${USER_SERVICE_REL_PATH}/Dockerfile.user-service
    restart: unless-stopped
    environment:
      PORT: 3000
    volumes:
      - user_database:${USER_SERVICE_DB_DIR}
    # Healthcheck: Verify the Fastify server is listening on port 3000
    # 'localhost' resolves to IPv6 (::1) on Alpine, so we use '127.0.0.1' directly
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://127.0.0.1:3000/']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - app_network

#############
## Volumes ##
#############

volumes:
  caddy_data: # Storage for Caddy's SSL/TLS certificates
  caddy_config: # Storage for Caddy's configuration
  user_database: # Storage for user info (SQLite database)

##############
## Networks ##
##############

networks:
  app_network:
    driver: bridge
