services:
  postgres:
    image: postgres:16
    container_name: transcendence_postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
